# **Assignment day 2**

In [ ]:
# question no:1
name = input('Enter the name')
rollno = input('Enter roll number')
mark = input('enter the mark')
print('Name: ',name)
print('Roll no: ',rollno)
print('Mark: ',mark)

Enter the nameanish
Enter roll number35
enter the mark55
Name:  anish
Roll no:  35
Mark:  55

In [ ]:
# question no:2
temp = input ('Input the temperature you like to convert(eg: 45f,100c, etc.)')
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper()== 'C':
  result = int(round((9*degree / +32)))
  o_convention = 'fahrenhiet'
elif i_convention.upper()== 'F':
  result = int(round((degree-32)*5/9))
  o_convention = 'celsius'
else:
    print('Input proper convention.')
    quit()
print('the temperature in', o_convention,'is',result,'degrees')

Input the temperature you like to convert(eg: 45f,100c, etc.)45f
the temperature in celsius is 7 degrees

In [ ]:
# question no: 3
firstnumber = int(input('Enter first number'))
secondnumber = int(input('Enter second number'))
result = firstnumber*secondnumber
print(firstnumber,'*',secondnumber, '=' ,result)

Enter first number5
Enter second number5
5 * 5 = 25

In [ ]:
# question no: 4
message1 = 'learn python by developing a website'
message2 = 'learn ** python** by developing a **website**'
message1 = message2
print (message1)

learn ** python** by developing a **website**

In [ ]:
# question no: 5
import math
rad = int(input('radious of the circle'))
area = math.pi * rad**2
print('area of the circle= ',area)

radious of the circle5
area of the circle=  78.53981633974483

In [ ]:
# questian no:6
list1 = [55,66,77,88]
value1 = input('Enter the element to be inserted')
position1 = int(input('enter the position where the element to be inserted'))
list1.insert(position1,value1)
print(list1)

Enter the element to be inserted99
enter the position where the element to be inserted4
[55, 66, 77, 88, '99']

In [ ]:
# question no: 7
sample_dic = {'name':'john','age':5,'salary':8000,'city':'new york'}
city1 = input('name of the city')
sample_dic['city'] = city1
print(sample_dic)

name of the cityindia
{'name': 'john', 'age': 5, 'salary': 8000, 'city': 'india'}

In [ ]:
# question no: 8
sample_dic1 = {'emp1':{'name':'john','salary':7500},'emp2':{'name':'emma','salary':800},'emp3':{'name':'brad','salary':500}}
sample_dic1['emp3'] = {'name':'brad','salary':8500}
print(sample_dic1)

{'emp1': {'name': 'john', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 800}, 'emp3': {'name': 'brad', 'salary': 8500}}

In [ ]:
# question no: 9
tuple1 = (10,20,43,54,56,68)
tuple2 = (tuple1[2],tuple1[3])
print(tuple2)

(43, 54)

In [ ]:
# question no: 10
tuPle1 = (50,10,60,70,50,83,567,50,81)
tuPle1.count(50)

3